@import url(font/SanFranciscoFont/usesf.css);

h1, label, button, input, table, p, .dollar-sign, .percent-sign{
	font-family: 'San Francisco Text', sans-serif;
	font-weight: 300;
}
h1{
	margin:0px 0px 0px 10px;
}
section#guest-count, section#tip_percent, section#before_tax, section#after_tax, section#calculate
{
	height: 150px;
	width: 350px;
	margin-right: auto;
	margin-left:auto;
}
section#overlay{
	height: 1px;
	width: 350px;
	margin-right: auto;
	margin-left:auto;	
}

.center-helper{
	text-align: center;
}
.textbox{
	width:100px;
	font-size: 24px;
	position: relative;
	top:15%;
	margin-right: 5px;
	margin-left: 5px;
}

.textbox:focus{
	outline:0;	
}

.tb-wrapper{
	width:130px;
	height: 50px;
	margin-right: auto;
	margin-left: auto;
	background-color:white;
	display: inline-block;
	border: solid #ffffff 2px;
}

.tb-select{
	border: solid #B0E2FF 2px;
}

.btn{
	font-size: 24px;
	background-color: #ffffff;
	border: solid #000000 1px;
	cursor:pointer;
}
.btn-round{
	border-radius: 10px;
}

.btn:hover{
	background-color: #B0E2FF;
}

.btn:active{
	background-color: #D3D3D3;
}

.center-wrapper{
	margin-right: auto;
	margin-left: auto;
	display:inline-block;
	min-width: 215px;
}

/* Guest Count*/
.guest-button{
	padding: 10px 20px 10px 20px;
	border-radius: 10px;
	float: left;
	width:55px;
}

.guest-button:disabled{
	border-color: #ffffff;
	background-color: #ffffff;
	color:#ffffff;
}

#guest-background{
	width:100px;
	height: 50px;
	text-align: center;
	float: left;
}

.guest-tb{
	width: 80px;
	margin-right:auto;
	margin-left:auto;
	text-align:center;
}
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*Tip Percentage*/

[type='radio'] {
	display: none;
}

.tip-wrapper{
	/*width:265px;*/
	margin-right: auto;
	margin-left:auto;
	display:inline-block;

}
.tip-btn{
	width:45px;
	display:inline-block;
	padding: 20px;
	margin:-3px;
	text-align: center;

}
.tip-btn-right{
	border-top-right-radius:10px;
	border-bottom-right-radius:10px;
}

.tip-btn-left{
	border-top-left-radius:10px;
	border-bottom-left-radius:10px;
}

.tip-btn-select{
	background-color: #D3D3D3;
}

/*OverLay*/

.overlay{
	display:none;
	margin: 0 auto;
	position: absolute;
    width: 330px;
    min-height: 200px;
    z-index: 100;
    background-color:  #FFFFFF;
    border: 10px solid #7D7D7D;
    box-shadow: 0 0 16px #000;
}
.overlay-shade {
	display:none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
    background-color: #D3D3D3;
    opacity: 0.5;
}

.close{
	color:white;
	float:right;
	background-color:red;
	margin: 5px;
	padding: 5px 10px 5px 10px;
	border-radius: 50%;
}

a {
	color:inherit;
	text-decoration: none;
}
/*Enter Tip*/
.percent-sign{
	float:left;
	font-size: 20px;	
	padding-top: 10%;
}
.tip-tb{
	border:none;
	float:left;
	width: 50%;
	text-align: right;
}
.tip-tb:focus{
	outline:0;
}

/*Results Overlay*/
table{
	width: 90%;
	border-collapse: collapse;
	margin-left: 5px;
	margin-bottom: 5px;
}
.row-title{
	width:75%;
}
.row-value{
	width:25%;
}
.row-underline{
	border-bottom: 1px solid black;
}
.row-double-underline{
	border-bottom: 3px double black;
}

/*Tab/Check Total*/

.dollar-sign{
	float:left;
	font-size: 20px;	
}
.dollar-tb{
	float:left;
	border:none;
}